*{
    margin: 0%;
    border: 0ch;
}

.messages{
    display: flex;    
}

.contacts{
    width: 25%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.navbar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.profile{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 300px;
}

.profile p{
    padding-left: 0.25em;
}

.items{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#icon1{
    width: 100%;
    font-size: 1.5em;
    padding-right: 0.5em;
}

#icon2{
    width: 100%;
    font-size: 1.5em;
    padding-left: 0.5em;
}

.chat{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 60%;
    height: 40%;
    font-size: 1em;
    color: white;
    background-color: #A491D2;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact img{
    width: 60px;
    height: 60px;
    border-radius: 300px;  
}

.info{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 1em;
}

.info img{
    padding: 0.5em;
}

.line{
    width: 100%;
    border: solid 1px;
    background-color: #e8ebe4;
}

.vertline{
    border: solid 1px;
    background-color: #e8ebe4;
    min-height: 100vh;
}

.contents{
    width: 75%;
    min-height: 100vh;
    background-color: #e8ebe4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contents img{
    width: 250px;
    height: 250px;
}

.contents h1{
    font-size: 3em;
}

.contents p{
    text-align: center;
}